* {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  font-weight: 400;
}

/* ************* Element Styles ************* */

body {
  background-color: #1A1A1A;
  padding: 20px;
}

a {
  color: #555555;
  display: block;
  font-size: 9pt;
  font-weight: 200;
  margin-top: 20px;
  text-decoration: none;
}

input {
  font-size: 12pt;
  margin: 50px auto 0 auto;
  width: 50%;
}

input[type=text], input[type=password] {
  border: none;
  border-bottom: 1px solid #CCCCCC;
  box-sizing: border-box;
  color: #555555;
  padding: 0 0 3px 40px;
  vertical-align: middle;
  width: 100%;
}

input[type=text] {
  background: url(images/003-envelope-1.png) 3px 35% no-repeat;
}

input[type=password] {
  background: url(images/003-lock-1.png) 3px 35% no-repeat;
}

input[type=text]:focus {
  background: url(images/003-envelope-2.png) 3px 35% no-repeat;
  border-bottom: 1px solid #555555;
  color: #8549CB;
  outline: none;
}

input[type=password]:focus {
  background: url(images/003-lock-2.png) 3px 35% no-repeat;
  border-bottom: 1px solid #555555;
  color: #8549CB;
  outline: none;
}

input[type=submit] {
  background: linear-gradient(90deg, rgba(255,16,203,1) 0%, rgba(133,73,203,1) 100%);
  border: none;
  border-radius: 6px;
  color: #FFFFFF;
  padding: 15px;
  text-transform: uppercase;
  width: 100%;
}

input[type=submit]:hover {
  background: #8549CB;
}

/* ************* Class Styles ************* */

.container {
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 40px 0 40px 0;
  text-align: center;
  width: 475px;
}

.form {
  display: block;
  margin: 40px auto 0 auto;
  text-align: center;
  width: 60%;
}
